body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
header {
    position: sticky;
    background: #2ecc71;
    color: white;
    padding: 1rem 0;
    background: linear-gradient(to bottom, #2ecc71 80%, rgba(168, 224, 99, 0.8) 95%, transparent);

}
a {
    text-decoration: none;
    color: #fff;
}
img {
    display: block;
    margin-right: auto;
  }
header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#a{
    text-decoration: none;
}
main {
    padding: 2rem;
}
section{
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}
.card-price {
    font-size: 16px;
    color: #2ecc71;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}
.cartcontainer{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;

}
.card-button:hover {
    background: #2980b9;
}


footer{
    background: #2c3e50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    background: linear-gradient(to bottom, white , #2c3e50 10%);

}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}
footer ul li a {
    color: white;
    text-decoration: none;
}